.chat-side
  .side_header
    %p.side_header_box_user-name
      name
      %ul.user_menu
        %li.user-menu__edit-user
          = fa_icon 'edit'
        %li.user-menu__new-groups
          =fa_icon 'cog'
  .groups
    .group
    %p test
    %p Gundam
  .group__group-name